body {
    margin: 0;
    height: 100vh;
    background: #050505;
    font-family: Arial, sans-serif;
    color: white;
}


.app {

    width:95%;
    height:92vh;
    margin: auto;
    margin-top: 5vh;

    background: #111111;

    border-radius: 18px;

    display:flex;
    flex-direction:column;

    overflow:hidden;

    box-shadow:
    0 10px 40px rgba(0,0,0,.8);

}


/* Header */

.header {

    padding:25px;

    background:#0a0a0a;

    color:white;

    border-bottom:1px solid #222;

}


.header h1 {

    margin:0;

    font-size:32px;

    letter-spacing:1px;

}


.header p {

    margin-top:8px;

    color:#999;

}


.status {

    color:#4ade80;

}



/* Main section */

.main {

    flex:1;

    display:flex;

}



/* Sidebar */

.sidebar {

    display:none;

}


.sidebar button {

    width:100%;

    padding:12px;

    margin-bottom:12px;

    border:none;

    background:#1f1f1f;

    color:white;

    border-radius:10px;

}


.sidebar button:hover {

    background:#333;

}



/* Chat */

.chat {

    flex:1;

    padding:40px;

    background:#050505;

    display:flex;

    justify-content:center;

    align-items:center;

}



/* Messages */

.message {

    padding:14px;

    margin-bottom:15px;

    border-radius:14px;

    max-width:70%;

}


.ai {

    background:#1f1f1f;

    color:#ddd;

}


.user {

    background:#2563eb;

    color:white;

    margin-left:auto;

}



/* Input */

.input-area {

    padding:20px;

    display:flex;

    background:#050505;

    border-top:1px solid #222;

}


.input-area input {

    flex:1;

    padding:18px;

    font-size:17px;

    background:#1c1c1c;

    color:white;

    border:1px solid #333;

    border-radius:15px;

}


.input-area button {

    margin-left:12px;

    padding:15px 30px;

    border-radius:15px;

    background:#2563eb;

    color:white;

}

.welcome {

    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}
.welcome h1 {

    font-size:48px;

    font-weight:500;

    margin-bottom:10px;

}


.welcome p {

    color:#888;

    font-size:20px;

}

}
.brand {
    display:flex;
    align-items:center;
    gap:15px;
}


.logo {
    width:80px;
    height:80px;
    object-fit:contain;
}
